# misc
.DS_Store
*.pem

# env files (can opt-in for committing if needed)
.env*
ios/PoteAgenda/PoteAgenda/Resources/Supabase.plist
xcuserdata/
*.xcuserstate

# supabase CLI local cache
/supabase/.temp
